@font-face { font-family: 'Pokemon Solid'; src: url('../fonts/pokemon_solid.eot'); src: url('../fonts/pokemon_solid.eot?#iefix') format('embedded-opentype'), url('../fonts/pokemon_solid.svg#Pokemon Solid') format('svg'), url('../fonts/pokemon_solid.woff') format('woff'), url('../fonts/pokemon_solid.ttf') format('truetype'); font-weight: normal; font-style: normal;}

html {
    background: url('../images/background.svg') no-repeat center left fixed;
    background-color: rgb(255, 13, 11);
    background-size: contain;
    height: 100%;
    width: 100%;
}

#pokemonGuess {
    font-family: 'Pokemon Solid';
    font-weight: bold;
    font-size: 50pt;
    color: #FFB000;
    -webkit-text-stroke: 3px #005D9D;
    text-shadow: -3px 3px #1D2C5E;
    -moz-transition:-moz-transform 1.5s;
    -webkit-transition:-webkit-transform 1.5s;
    -o-transition:-o-transform 1.5s;
    transition:transform 1.5s;
    position:absolute;
    top:10%;
    right: 5%;
}

#pokemonGuess.pokemon {
    -moz-transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
    -o-transform:rotate(360deg);
    transform:rotate(360deg);
}

@media screen and (min-width: 1920px) {
    #pokemonGuess {
        font-size: 60pt;
        -webkit-text-stroke: 5px #005D9D;
        text-shadow: -4px 4px #1D2C5E;
    }
}
