@font-face { font-family: 'Pokemon Solid'; src: url('../fonts/pokemon_solid.eot'); src: url('../fonts/pokemon_solid.eot?#iefix') format('embedded-opentype'), url('../fonts/pokemon_solid.svg#Pokemon Solid') format('svg'), url('../fonts/pokemon_solid.woff') format('woff'), url('../fonts/pokemon_solid.ttf') format('truetype'); font-weight: normal; font-style: normal;}

html {
    background: url('../images/background.svg') no-repeat center left fixed;
    background-color: rgb(255, 13, 11);
    background-size: contain;
}

#pokemonGuess {
    font-family: 'Pokemon Solid';
    font-weight: bold;
    font-size: 50pt;
    color: #FFB000;
    -webkit-text-stroke: 2px #005D9D;
    text-shadow: -3px 3px #1D2C5E;
}